* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
  }
  
  main {
    display: flex;
    flex-direction: row;
  }
  
  #aside {
    width: 20%;
  }
  
  .content {
    width: 100%;
  }
  
  